<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Aviso</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<div class="modal-body">

    <div>
        <p>Confirma a exclusão deste registro?</p>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="confirmar(false)">
        Cancelar
    </button>
    <button type="button" class="btn btn-danger" (click)="confirmar(true)">Excluir</button>
</div>