<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Campos dealer CRM</h1>
  <div class="col-lg-9 mx-auto">
    <p class="lead mb-4">Plataforma de gerenciamento de informações de vendas e serviços.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

      
      <div class="card" style="width: 18rem;">
        <img src="../../assets/icons/clientesIcon.png" style="max-width: 100px;align-self: center;padding-top: 15px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Clientes</h5>
          <p class="card-text">Cadastre clientes para efetuar vendas e obter detalhes do comprador.</p>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/cliente">Acompanhar Clientes</button>

        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img src="../../assets/icons/vendaIcon.png" style="max-width: 100px;align-self: center;padding-top: 15px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vendas</h5>
          <p class="card-text">Efetue e gerencie vendas para clientes cadastrados.</p>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/vendas"> Acompanhar Vendas</button>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/icons/produtosIcon.png" style="max-width: 100px;align-self: center;padding-top: 15px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Produtos</h5>
          <p class="card-text">Cadastre produtos de sua loja e gerencie seu estoque.</p>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/produtos">Acompanhar Produtos</button>

        </div>
      </div>


    </div>
  </div>
</div>